body {
    border-style: solid;
    border-right-style: dashed;
    border-bottom-style:dashed;
    border-color: black;
    border-width: 5px;
    background-color: rgba(95, 0, 95, 0.918);
    color: white;
    font-family:Georgia, 'Times New Roman', Times, serif
}
h3{
    color: rgb(0, 0, 0);
    font-size: 24px;
    
}
h2 {
    color: rgb(0, 0, 0);
    font-size: 29px;
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
    text-transform:capitalize
}